.questionMark{
    color: dodgerblue;
}
.questionMark:link {
    text-decoration: none;
}

.questionMark:visited {
    text-decoration: none;
}

.questionMark:hover {
    font-size: 1.5em;
    text-decoration: none;

}

.questionMark:active {
    text-decoration: underline;
}